:root {
    --background: #6a6e7d;
    --primary: #202126;
    --secondary: #494b57;
    --tertiary: #b8bddb;
    --accent: #1d317a;

    --red: rgb(220, 36, 31);
    --yellow: rgb(255, 200, 10);
    --green: rgb(0, 125, 50);
    --pink: rgb(245, 137, 166);
    --blue: rgb(0, 25, 168);
}
